<div class="container-fluid">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Damages</th>
        <th>Ammunition</th>
        <th>Cooldown</th>
        <th>Precision</th>
        <th>Quick Fire ?</th>
        <th>Picture</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>{{newAttack._id}}</th>
        <td>{{newAttack.damage}}</td>
        <td>{{newAttack.ammo}}</td>
        <td>{{newAttack.cooldown}}</td>
        <td>{{newAttack.aim}}</td>
        <td>{{newAttack.quickFire}}</td>
        <td>{{newAttack.source}}</td>
        <td>
          <button class="btn btn-success" (click)="addAttack(newAttack)">Add</button>
        </td>
      </tr>
      <tr *ngFor="let attack of attacksList">
        <th>{{attack._id}}</th>
        <td>{{attack.damage}}</td>
        <td>{{attack.ammo}}</td>
        <td>{{attack.cooldown}}</td>
        <td>{{attack.aim}}</td>
        <td>{{attack.quickFire}}</td>
        <td>{{attack.source}}</td>
        <td>
          <button class="btn btn-primary" (click)="edit(attack)">Edit</button>
          <button class="btn btn-danger" (click)="delete(attack)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>