<div class="d-flex flex-row flex-wrap">
  <div class="card" class="w-25 p-3">
    <img class="card-img-top" src="" alt="+image">
    <div class="card-body">
      <h5 class="card-title">New {{ type }}</h5>
      <p class="card-text">Click here to add a new {{ type }} to the list</p>
      <button class="btn btn-primary" (click)="openModalUpdate()">New</button>
    </div>
  </div>
  <div class="card" class="w-25 p-3" *ngFor="let drone of dronesList">
    <img class="card-img-top" src="{{drone.pictureId}}" alt="drone picture">
    <div class="card-body">
      <h5 class="card-title">{{ gear.name }}</h5>
      <ul>
        <li>ID: {{gear._id}}</li>
        <li>{{gear.description}}</li>
        <li>Level: {{gear.level}}</li>
        <li>Cost: {{gear.cost}}</li>
        <li>Type: {{gear.type}}</li>
        <li>PictureId: {{drone.pictureId}}</li>
        <li>Attacks:
          <ul>
            <li *ngFor="let attack of gear.attacks">
              <ul>
                <li>Name: {{attack.name }}</li>
                <li>Description: {{attack.description }}</li>
                <li>Damages: {{attack.damages }}</li>
                <li>Ammo: {{attack.ammo }}</li>
                <li>Cooldown: {{attack.cooldown }}</li>
                <li>Accuracy: {{attack.accuracy }}</li>
                <li>PictureId: {{attack.pictureId }}</li>
                <li *ngIf="attack.bonus">Bonus:
                  <ul>
                    <li *ngIf="attack.bonus.type">Type: {{ attack.bonus.type }}</li>
                    <li *ngIf="attack.bonus.damages">Damages: {{ attack.bonus.damages }}</li>
                    <li *ngIf="attack.bonus.nbTurns">Number of turns: {{ attack.bonus.nbTurns }}</li>
                    <li *ngIf="attack.bonus.actionPointsReduction">PA Reduction: {{ attack.bonus.actionPointsReduction }}</li>
                    <li *ngIf="attack.bonus.nbTiles">Number of tiles: {{ attack.bonus.nbTiles }}</li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <button class="btn btn-primary" (click)="openModalUpdate(drone)">Update</button>
      <button class="btn btn-primary" (click)="deleteDrone(drone._id)">Delete</button>
    </div>
  </div>
</div>
<!-- <div class="container-fluid">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Level</th>
        <th scope="col">Cost</th>
        <th scope="col">Picture</th>
        <th scope="col">Engine Action points</th>
        <th scope="col">Propeller Speed</th>
        <th scope="col">Shield Capacity</th>
        <th scope="col">Shield Block</th>
        <th scope="col">is Primary Weapon?</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let gear of gearList">
        <th scope="row">{{gear._id}}</th>
        <td>{{gear.name}}</td>
        <td>{{gear.description}}</td>
        <td>{{gear.level}}</td>
        <td>{{gear.cost}}</td>
        <td>{{gear.source}}</td>
        <td>{{gear.engine.actionPoints}}</td>
        <td>{{gear.propeller.speed}}</td>
        <td>{{gear.shield.capacity}}</td>
        <td>{{gear.shield.block}}</td>
        <td>{{gear.weapon.isPrimary}}</td>
      </tr>
    </tbody>
  </table>

</div> -->